halo==0.0.31
Pillow==9.0.0
simplejson==3.17.5
types-simplejson==3.17.0
tornado==6.1
tqdm==4.62.3
watchdog==2.1.6
torch==1.9.1
torchvision==0.10.1
mypy==0.910
flake8==3.9.2
black==21.9b0
pep517==0.11.0
