halo==0.0.31
Pillow==10.0.0
simplejson==3.19.1
types-simplejson==3.19.0.1
tornado==6.3.2
tqdm==4.65.0
watchdog==3.0.0
torch==2.0.1
torchvision==0.15.2
mypy==1.4.1
ruff==0.0.278
black==23.7.0
isort==5.12.0
build==0.10.0
